{{!-- <button id="activate-microphone"><img src="/images/microphone.png" /></button> --}}
<h1>{{title}}</h1>

<hr />

<a href="/webspeech">Web Speech API</a>
<p>Works in Chrome desktop and Android only.</p>

<hr />

<a href="/googlespeech">Google Speech API</a>
<p>...</p>