<!DOCTYPE html>
<html>
  <head>
    {{!-- <meta charset="utf-8"> --}}
    {{!-- <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1"> --}}
    {{!-- <meta name="viewport" content="width=device-width; initial-scale=1.0; maximum-scale=1.0; user-scalable=0;" />  --}}
    <meta name="viewport" content="width=device-width,height=device-height,initial-scale=1.0"/>

    <title>{{title}}</title>
    {{!-- <link rel='stylesheet' href='/stylesheets/style.css' /> --}}
  </head>
  <body>
    {{{body}}}
    {{!-- <script src="/javascripts/speech-1.js"></script> --}}
  </body>
</html>
