<link rel='stylesheet' href='/stylesheets/webspeech.css' />
<button id="activate-microphone"><img src="/images/microphone.png" /></button>
<h1>{{title}}</h1>
<div id="color-box"></div>
<p class="output">Click the microphone and say a color.</p>
<p class="hints"></p>
<p class="error"></p>
<script src="/javascripts/webspeech.js"></script>