html, body {
  padding: 0;
  margin: 0;
  height: 100%;
}

body {
  padding: 20px;
  font: 14px Helvetica, Arial, sans-serif;
}

h1 {
  margin: 0 0 20px;
}

a {
  color: #00B7FF;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: auto;
  outline: solid 1px #ccc;
}

li {
  outline: white solid 1px;
  float: left;
  width: 33.333333%;
}

.cell {
  padding: 5px;
}

#activate-microphone {
  float: right;
  border: none;
  background: none;
}

#activate-microphone[disabled] {
  opacity: .4;
}

#activate-microphone img{
  max-height: 32px;
}

#color-box {
  float: right;
  height: 20px;
  width: 60px;
  outline: solid 1px #ccc;
}